/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #fff8f0;
    color: #333;
}


header {
    background-color: #3d0808; /* deep coffee brown */
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
/* } */


/* .navbar {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-logo .logo-text {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.nav-menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: #fff;
    transition: width 0.3s;
    margin-top: 4px;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: #ffce9e;
 } */ 

 /* Base CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 html ,body {
    background-color: #fff8f0;
    color: #333;
    width: 100%;
    margin: 0;
    padding: 0;
}




header {
    background-color: #3d0808;
    padding: 15px 0;
}


.navbar {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-logo {
    text-decoration: none; 
}


.logo-text {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-transform: lowercase; 
}


.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}


.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover,
.nav-link.active {
    background-color: #e08e2c; 
    color: #fff;
}



